.popup-dialog {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) translateX(100vw);
    border-radius: 30px;
}

.popup-dialog[open],
.error-dialog[open],
.warning-dialog[open] {
    display: flex;
}

.popup-banner {
    position: relative;
    display: flex;
    align-items: center;
    height: 594px;
    width: 467px;
    padding: 66px 48px;
    border-radius: 30px 0px 0px 30px;
    background-color: #2a3647;
}

.popup-banner-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: white;
}

.popup-banner-content h1 {
    font-size: 61px;
}

.popup-banner-content p {
    font-size: 27px;
}

.popup-banner-content::after {
    content: '';
    width: 90px;
    height: 3px;
    background-color: #29abe2;
    border-radius: 10px;
    margin-top: 8px;
}

.popup-content {
    position: relative;
    width: 745px;
    height: 594px;
    background-color: white;
    border-radius: 0px 30px 30px 0px;
}

.popup-content-container {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 135px 48px;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 72px;
}

.popup-profile-container {
    position: relative;
    margin-bottom: 132px;
}


.popup-icon-container {
    width: 24px;
    height: 24px;
}

.error-dialog {
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) translateY(1000%);
    padding: 16px 50px 16px 27px;
    border-radius: 20px;
    color: white;
    background-color: #FF3E3E;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
    transition: transform 125ms ease-in-out;
}

.error-dialog p {
    font-size: 20px;
    margin: 0;
    text-align: center;
}

.error-dialog span {
    font-size: 14px;
    margin: 0;
    font-weight: 400;
    text-align: center;
}

.warning-dialog {
    width: 339px;
    height: 177px;
    border-radius: 20px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
    background-color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 11px;
    padding-block: 14px 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) translateY(1000%);
    transition: transform 125ms ease-in-out, opacity 125ms ease-in-out;
}

.warning-dialog p {
    font-size: 18px;
    font-weight: 500;
    text-align: center;
}

@media screen and (max-width:1250px) {

    .popup-banner {
        width: 366px;
        padding-right: 100px;
    }

    .popup-banner img {
        top: 100px
    }

    .popup-banner-content h1 {
        line-height: 1;
    }

    .popup-content {
        width: 579px;
    }

    .popup-content-container {
        gap: 48px;
    }
}

@media screen and (max-width:1023px) {
    .popup-dialog {
        flex-direction: column;
    }

    .popup-banner {
        width: 100%;
        height: auto;
        border-radius: 30px 30px 0 0;
        padding: 142px 48px
    }

    .popup-logo {
        display: none;
    }

    .popup-content {
        width: 100%;
        height: auto;
        border-radius: 0 0 30px 30px;
    }

    .close-popup-btn {
        display: none;
    }

    .close-popup-btn-mobile {
        display: flex;
    }

    .popup-content-container {
        flex-direction: column;
        align-items: center;
        padding-block: 92px 62px;
    }

    .popup-profile-container {
        margin: 0;
        position: absolute;
        top: -60px;
    }

    .popup-btns {
        justify-content: center;
    }
}

@media screen and (max-width:767px) {

    .popup-dialog {
        transform: translate(-50%, -50%) translateY(100vh);
    }


    .popup-banner {
        width: 396px;
        height: 351px;
        padding: 66px 24px
    }

    .popup-banner-content {
        gap: 4px;
    }

    .popup-banner-content h1 {
        font-size: 47px;
        line-height: normal;
    }

    .popup-banner-content p {
        font-size: 20px;
    }

    .popup-content {
        width: 396px;
    }

    .close-popup-btn-mobile {
        display: flex;
        top: 24px;
        right: 16px;
    }

    .popup-content-container {
        padding: 93px 16px 62px 16px;
    }

    .popup-form {
        gap: 32px;
        width: 100%;
    }

    .popup-form form {
        gap: 24px;
        width: 100%;
        height: auto;
    }

    .popup-input input {
        padding: 8px 21px;
    }

    .popup-input div {
        top: 8px
    }

    .popup-btns {
        gap: 20px;
    }

    .popup-mobile-btn-padding {
        padding: 13px 10px !important;
    }

}

@media screen and (max-width:420px) {

    .popup-banner {
        width: 100%;
        height: auto;
        padding: 48px 16px 72px 16px;
        border-radius: 24px 24px 0 0;
    }

    .popup-banner-content h1 {
        font-size: 42px;
    }

    .popup-content {
        width: 296px;
        border-radius: 0 0 24px 24px;
    }

    .close-popup-btn-mobile {
        top: 12px;
        right: 12px;
    }

    .popup-content-container {
        padding: 93px 8px 24px 8px;
    }

    .popup-form {
        gap: 32px;
    }

    .popup-form form {
        gap: 22px;
        width: 100%;
        height: auto;
    }

    .popup-input input {
        padding: 6px 12px;
        font-size: 18px;
        border-radius: 8px;
    }

    .popup-input div {
        top: 6px;
        right: 12px;
    }

    .popup-btns {
        gap: 18px;
    }

    .popup-mobile-btn-padding {
        padding: 10px 10px;
        font-size: 18px;
    }
}