.popup-modal {
    position: fixed;
    z-index: 11;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
}

.popup-window {
    transition: transform 125ms ease-in-out;
    display: flex;
    border-radius: 30px;
}

.popup-close {
    transform: translateX(100%);
}

.popup-open {
    transform: translateX(0);
}

.popup-banner {
    position: relative;
    display: flex;
    align-items: center;
    height: 594px;
    width: 467px;
    padding: 66px 48px;
    border-radius: 30px 0px 0px 30px;
    background-color: #2a3647;
}

.close-popup-btn-mobile {
    display: none;
    position: absolute;
    top: 32px;
    right: 32px;
    height: 32px;
    width: 32px;
    border-radius: 30px;
}

.close-popup-btn-mobile:hover {
    background-color: #29ABE2;
    cursor: pointer;
}

.popup-banner-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: white;
}

.popup-banner-content h1 {
    font-size: 61px;
}

.popup-banner-content p {
    font-size: 27px;
}

.popup-logo {
    position: absolute;
    top: 154px;
    left: 46px;
    height: 66.48px;
}

.popup-banner-content::after {
    content: '';
    width: 90px;
    height: 3px;
    background-color: #29abe2;
    border-radius: 10px;
    margin-top: 8px;
}

.popup-content {
    position: relative;
    width: 745px;
    height: 594px;
    background-color: white;
    border-radius: 0px 30px 30px 0px;
}

.popup-content-container {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 135px 48px;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 72px;
}

.close-popup-btn {
    position: absolute;
    top: 48px;
    right: 48px;
    height: 32px;
    width: 32px;
    border-radius: 30px;
}

.close-popup-btn:hover {
    cursor: pointer;
    background-color: #eeeeee;
}

.popup-profile-container {
    position: relative;
    margin-bottom: 132px;
}


.person-icon {
    height: auto !important;
    width: auto !important;
}

.popup-upload-btn {
    position: absolute;
    background-color: white;
    bottom: -14px;
    right: 0;
    height: 46px;
    width: 46px;
    border-radius: 50%;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
}

.popup-upload-btn:hover {
    cursor: pointer;
    background-color: #29ABE2;
}


.popup-form {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.popup-form form {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 422px;
    height: 215px;
}

.popup-input {
    position: relative;
}

.popup-input input {
    all: unset;
    width: 100%;
    padding: 13px 46px 13px 21px;
    border-radius: 10px;
    border: 1px solid #d1d1d1;
    font-size: 20px;
}

.popup-input input::placeholder {
    color: #d1d1d1;
    opacity: 1;
}

.popup-input input:focus {
    outline: none;
    border-color: #29ABE2;
}


.popup-input div {
    position: absolute;
    top: 13px;
    right: 21px;
}

.validation-msg {
    position: absolute;
    bottom: -16px;
    left: 0px;
    color: #FF8190;
    font-size: 12px;
    height: 12px;
}

.popup-icon-container {
    width: 24px;
    height: 24px;
}

button {
    all: unset;
}

.popup-btns {
    display: flex;
    gap: 24px;
    align-items: flex-end;
}

.popup-secondary-btn {
    padding: 16px !important;
}

.error-modal {
    display: flex;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.15);
    justify-content: center;
    align-items: center;
    z-index: 1000;
    transition: all 100ms ease-in-out;
}

.error-msg {
    position: fixed;
    display: flex;
    flex-direction: column;
    transform: translateY(1000%);
    padding: 16px 50px 16px 27px;
    border-radius: 20px;
    color: white;
    background-color: #FF3E3E;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
    transition: transform 125ms ease-in-out, opacity 125ms ease-in-out;
}

.error-msg p {
    font-size: 20px;
    margin: 0;
    text-align: center;
}

.error-msg span {
    font-size: 14px;
    margin: 0;
    font-weight: 400;
    text-align: center;
}

.error-msg-slide-in {
    transform: translateY(0) !important;
}

.close-error-btn {
    top: 3px;
    right: 6px;
}

.close-error-btn:hover {
    background-color: rgba(0, 0, 0, 0.1) !important;
}

.warning-msg {
    width: 339px;
    height: 176px;
    border-radius: 20px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
    background-color: white;
    flex-direction: column;
    gap: 11px;
    padding-block: 14px 20px;
    position: fixed;
    transform: translateY(1000%);
    transition: transform 125ms ease-in-out, opacity 125ms ease-in-out;
}

.close-warning-btn {
    top: 5px;
    right: 6px;
}

.warning-img {
    height: 29px;
    width: 29px;
}

.warning-msg p {
    font-size: 18px;
    font-weight: 500;
    text-align: center;
}

.warning-btns {
    display: flex;
    gap: 16px;
    margin-top: 17px;
}

.warning-btn {
    padding: 8px 10px !important;
    font-size: 12px !important;
    font-weight: 400 !important;
}