@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  color-scheme: light;
  font-size: 100%;
  scroll-behavior: smooth;
  display: inline-block;
  overflow-x: hidden;
}

body {
  height: 100vh;
  width: 100%;
  font-family: "inter", sans-serif;
  overflow: visible;
  direction: ltr;
  background-color: #F6F7F8;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.d-none {
  display: none !important;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:focus {
  text-decoration: none;
}

a:link,
a:visited,
a:active,
a:hover {
  text-decoration: none;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("./assets/fonts/Inter-VariableFont_slnt\,wght.ttf") format("ttf");
}

.scroll-container {
  overflow-y: scroll;
  overflow-x: hidden;
}

.scroll-container::-webkit-scrollbar {
  width: 24px;
}

.scroll-container::-webkit-scrollbar-thumb {
  background: rgba(168, 168, 168, 1);
  border-radius: 100px;
  border: 8px solid white;
}

.scroll-container::-webkit-scrollbar-thumb:hover {
  background: rgb(150, 150, 150);
}

.scroll-container::-webkit-scrollbar-track {
  background: white;
}

.scroll-container::-webkit-scrollbar-button:single-button {
  background-repeat: no-repeat;
  width: 4px;
  height: 24px;
}

.scroll-container::-webkit-scrollbar-button:single-button:vertical:decrement {
  background-image: url('../assets/images/components/scrollbar/scroll-up.svg');
  background-position: center bottom;
}

.scroll-container::-webkit-scrollbar-button:single-button:vertical:increment {
  background-image: url('../assets/images/components/scrollbar/scroll-down.svg');
  background-position: center top;
}

.landscape-warning {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #2A3647;
  color: white;
  font-size: 2em;
  text-align: center;
  z-index: 9999;
  justify-content: center;
  align-items: center;
}

.landscape-warning.visible {
  display: flex;
}