.main-wrapper {
    padding: 96px 0 0 232px;
    width: 100%;
    height: 100%;
}

.main {
    display: flex;
    flex-direction: column;
    padding: 80px 64px 0 64px;
    width: 1440px;
    gap: 48px;
    height: 100%;
}

.board-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 73px;
    width: 1056px;
}

.board-header h1 {
    font-weight: 700;
    font-size: 61px;
}

.toolbar {
    gap: 32px;
}

.search-form {
    position: relative;
}

.search-error-message {
    position: absolute;
    bottom: -16px;
    left: 0;
    color: #FF8190;
    font-size: 12px;
    display: none;
}

.search-form input {
    all: unset;
    width: 312px;
    height: 48px;
    border: 1px solid #A8A8A8;
    padding: 8px 16px;
    border-radius: 10px;
    font-size: 20px;
}

.search-form input:focus {
    border-color: #29ABE2;
}

.submit-btn-wrapper {
    position: absolute;
    right: 16px;
    top: 8px;
    height: 32px;
    width: 48px;
    border-left: 1px solid #D1D1D1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.submit-btn-wrapper button {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    cursor: pointer;
}

.submit-btn-wrapper button:hover {
    background-color: #D9D9D9;
}

.submit-btn-wrapper button:active img {
    filter: invert(45%) sepia(43%) saturate(2123%) hue-rotate(162deg) brightness(95%) contrast(102%);

}

.add-task-board-btn {
    padding: 12px 16px !important;
    gap: 10px;
}

.main-section {
    display: flex;
    gap: 24px;
}

.task-group {
    display: flex;
    flex-direction: column;
    width: 252px;
    gap: 16px;

}

.task-group-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 244px;
    margin-left: 8px;
}

.task-group-header h2 {
    font-weight: 700;
    font-size: 20px;
    color: #42526E;
}

.task-group-header button {
    height: 24px;
    width: 24px;
    cursor: pointer;
}

.task-group-header button:hover {
    filter: invert(45%) sepia(43%) saturate(2123%) hue-rotate(162deg) brightness(95%) contrast(102%);
}

.task-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: 100%;
    margin-bottom: 16px;
}

.empty-task-container {
    height: 48px;
    width: 100%;
    border: 1px dashed #A8A8A8;
    border-radius: 10px;
    background-color: #E7E7E7;
    box-shadow: 0px 0px 4px 0px #00000029;
    color: #A8A8A8;
    font-family: Open Sans;
}


.task-card {
    width: 252px;
    border-radius: 24px;
    gap: 8px;
    padding: 16px;
    background-color: white;
    box-shadow: 0px 0px 10px 3px #00000014;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    transition: transform 125ms ease;
}

.task-card-shadow {
    width: 252px;
    height: 244px;
    border-radius: 30px;
    border: 1px dashed #A8A8A8;
    background-color: transparent;
    box-shadow: 0px 0px 4px 0px #00000029;
}

.task-card-category {
    padding: 4px 16px;
    background-color: #0038FF;
    border-radius: 8px;
    width: fit-content;
    color: white;
    margin-bottom: 16px;
}

.task-card h2 {
    color: #2A3647;
    font-size: 16px;
    font-weight: 700;
}

.task-card-desc {
    color: #A8A8A8;
    word-break: keep-all;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-clamp: 2;
    box-orient: vertical;
    margin-bottom: 16px;
}

.task-progress {
    display: flex;
    align-items: center;
    gap: 11px;
    font-size: 12px;
    margin-bottom: 16px;
    height: 16px;
}

.progress-bar {
    width: 120px;
    height: 8px;
    background-color: #F4F4F4;
    border-radius: 8px;
}

.progress {
    display: block;
    width: 50%;
    height: 100%;
    border-radius: 8px;
    background-color: #4589FF;
}

.task-card-footer {
    display: flex;
    align-items: center;
}

.task-card-footer .assigned-avatars {
    width: 188px;
    position: relative;
    height: 32px;
}

.task-card-avatar {
    border: 1.2px solid white;
    font-size: 12px;
    width: 32px;
    height: 32px;
    min-width: 32px;
    min-height: 32px;
    position: absolute;
    top: 0;
    left: 0;
}

.task-priority {
    width: 32px;
    height: 32px;
}

.detailed-task-dialog {
    width: 525px;
    max-height: 90vh;
    padding: 48px 40px;
    border-radius: 30px;
    background-color: white;
    box-shadow: 0px 0px 4px 0px #00000029;
    border: none;
    margin: auto;
}

.detailed-task-dialog article {
    height: 100%;
    max-height: calc(90vh - 96px);
}

.detailed-task-scroll-content {
 margin-right: -24px;
}

.detailed-task-dialog h3 {
    color: #42526E;
    font-weight: 400;
    font-size: 20px;
    min-width: fit-content;
}

.d-flex-col-24 {
    display: flex;
    flex-direction: column;
    gap: 24px;
}


.detailed-task-header {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
    position: relative;
}

.detailed-task-close-btn {
    top: 2px;
    right: 0;
}

.detailed-task-category {
    padding: 4px 24px;
    color: white;
    border-radius: 8px;
    font-size: 23px;
    width: fit-content;
}

.detailed-task-header h2 {
    font-size: 48px;
    font-weight: 700;
    word-break: break-word;
}

.detailed-task-desc {
    font-size: 20px;
}

.detailed-task-priority,
.detailed-task-due-date {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
}

.detailed-task-due-date span {
    font-size: 19px;
    font-family: Open Sans;
}

.detailed-task-priority div {
    padding: 4px 18px;
    gap: 10px;
    font-size: 20px;
}

.detailed-task-priority img {
    width: 17px;
}

.detailed-task-assigned {
    display: flex;
    gap: 8px;
}

.detailed-task-assigned-avatars {
    gap: 8px;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.detailed-task-attachments {
    display: flex;
    flex-direction: column;
    gap: 8px;
}


.download-attachment-btn {
    all: unset;
    position: absolute;
    display: none;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    cursor: pointer;
    right: calc(50% - 12px);
    top: calc(50% - 22px);
    border-radius: 50%;
    transition: all 0.125s ease;
}

.download-attachment-btn img {
    width: 22px;
}

.download-attachment-btn:hover {
    background-color: #29ABE2;
}

.download-attachment-btn:hover img {
    width: 18px;
}









.detailed-task-subtasks {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.detailed-task-subtasks-list {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.detailed-task-subtask-item {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 4px 16px;
    font-size: 16px;
    border-radius: 10px;
    width: fit-content;
    cursor: default;
}

.detailed-task-subtask-item:hover {
    background-color: #EEEEEE;
}

.detailed-task-subtask-item div {
    min-height: 24px;
    min-width: 24px;
    border-radius: 50%;
}

.detailed-task-subtask-item:hover div {
    background-color: #D1D1D1;
}

.detailed-task-subtask-checkbox {
    width: 16px;
}


.detailed-task-action-btns {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 8px;
}

.detailed-task-action-btns span {
    width: 1px;
    height: 24px;
    background-color: #D1D1D1;
}

.detailed-task-action-btns button {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 16px;
    color: #2A3647;
    height: 24px;
}

.detailed-task-action-btns button:hover {
    cursor: pointer;
    color: #29abe2;
    font-weight: 700;
}

.detailed-task-action-btns button:hover img {
    filter: invert(45%) sepia(43%) saturate(2123%) hue-rotate(162deg) brightness(95%) contrast(102%);
}


.edit-detailed-task-btn {
    width: 56px;
    margin-left: 3px;
    gap: 10px !important;
}

.edit-detailed-task-btn img {
    width: 18.25px;
}

#detailed-task-attachments-list .attachment-item {
    cursor: pointer !important;
}