.popup-modal {
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
}

.popup-container {
    transition: transform 125ms ease-in-out;
    display: flex;
    border-radius: 30px;
}

.popup-close {
    transform: translateX(100%);
}

.popup-open {
    transform: translateX(0);
}

.popup-banner {
    position: relative;
    display: flex;
    align-items: center;
    height: 594px;
    width: 476px;
    padding: 66px 48px;
    border-radius: 30px 0px 0px 30px;
    background-color: rgba(42, 54, 71, 1);
}

.popup-banner-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: white;
}

.popup-banner-content h1 {
    font-size: 61px;
}

.popup-banner-content p {
    font-size: 27px;
}

.popup-banner img {
    position: absolute;
    top: 154px;
    left: 46px;
    height: 66.48px;
}

.popup-banner-content::after {
    content: '';
    width: 90px;
    height: 3px;
    background-color: rgba(41, 171, 226, 1);
    border-radius: 10px;
    margin-top: 8px;
}

.popup-content {
    position: relative;
    width: 745px;
    height: 594px;
    background-color: white;
    border-radius: 0px 30px 30px 0px;
}

.popup-content-container {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 135px 48px;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 72px;
}

.close-popup-btn {
    position: absolute;
    top: 48px;
    right: 48px;
    height: 32px;
    width: 32px;
    border-radius: 30px;
}

.close-popup-btn:hover {
    cursor: pointer;
    background-color: rgba(238, 238, 238, 1);
}

.popup-profile-container {
    position: relative;
    font-size: 47px;
    font-weight: 500;
    min-width: 120px;
    height: 120px;
    border-radius: 70px;
    color: white;
    background-color: rgba(209, 209, 209, 1);
    box-shadow: 0px 0px 0px 3px white, 0 0 4px 3px rgba(0, 0, 0, 0.1);
    margin-bottom: 132px;
}
.popup-profile-img {
    width: 100%;
    height: 100%;
    border-radius: 70px;
    overflow: hidden;
}
.popup-profile-img img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    object-position: center;
}

.popup-upload-btn{
    position: absolute;
    background-color: white;
    bottom: -14px;
    right: 0;
    height: 46px;
    width: 46px;
    border-radius: 50%;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
}

.popup-upload-btn:hover {
    cursor: pointer;
    background-color: #29ABE2;
}

.popup-upload-btn:hover .default {
  display: none;
}

.popup-upload-btn:hover .hover {
  display: block;
}

.hover {
    display: none;
}

.popup-form {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.popup-form form {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 422px;
    height: 215px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

textarea:focus,
input:focus {
    outline: none;
}

.popup-input input::placeholder {
    color: rgba(209, 209, 209, 1);
    opacity: 1;
}

.popup-input {
    position: relative;
    padding: 13px 21px;
    border-radius: 10px;
    border: 1px solid rgba(209, 209, 209, 1);
}

.popup-input-active {
    border: 1px solid rgb(41, 171, 226);
}

.popup-input-invalid {
    border: 1px solid #FF8190
}

.popup-input input {
    font-size: 20px;
    border: 0px;
    width: 90%;
}

.popup-input div {
    position: absolute;
    top: 13px;
    right: 21px;
}

.popup-validation-msg {
    position: absolute;
    bottom: -16px;
    left: 0px;
    color: #FF8190;
    font-size: 12px;
    height: 12px;
}

.popup-icon-container {
    width: 24px;
    height: 24px;
}

button {
    all: unset;
}

.popup-btns {
    display: flex;
    gap: 24px;
    align-items: flex-end;
}

.popup-secondary-btn {
    transition: 75ms;
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 16px 24px;
    gap: 4px;
    color: rgba(42, 54, 71, 1);
    font-size: 20px;
    box-shadow: inset 0 0 0 1px #2a3647;
}

.cancel-btn-padding {
    padding: 16px;
}

.popup-secondary-btn:hover {
    color: rgba(41, 171, 226, 1);
    cursor: pointer;
    box-shadow: inset 0 0 0 2px #29abe2, 0 4px 4px rgba(0, 0, 0, 0.25);
}

.popup-secondary-btn:hover img {
    filter: invert(45%) sepia(43%) saturate(2123%) hue-rotate(162deg) brightness(95%) contrast(102%);
}

.popup-primary-btn {
    transition: 75ms;
    display: flex;
    align-items: center;
    gap: 4px;
    border-radius: 10px;
    padding: 16px;
    background-color: rgba(42, 54, 71, 1);
    font-size: 21px;
    color: white;
}

.popup-primary-btn:hover {
    cursor: pointer;
    background-color: rgba(41, 171, 226, 1);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
