<div id="popup-modal" class="popup-modal d-flex-center">
    <div id="popup-container" class="popup-container">
        <div class="popup-banner">
            <img src="./assets/images/logos/logo-white.svg" alt="logo">
            <div class="popup-banner-content" id="popup-title">
            </div>
        </div>
        <div class="popup-content">
            <div onclick="closePopUp()" class="close-popup-btn d-flex-center">
                <img src="./assets/images/global/close.svg" alt="close">
            </div>
            <div class="popup-content-container">
                <div class="popup-profile-container d-flex-center">
                    <div class="popup-profile-img d-flex-center" id="popup-profile-img">
                    </div>
                    <div class="popup-upload-btn d-flex-center" id="popup-upload-btn">
                        <img class="default" src="./assets/images/components/popup/photo.svg" alt="add photo">
                        <img class="hover" src="./assets/images/components/popup/photo-white.svg" alt="add photo">
                    </div>
                </div>
                <div class="popup-form">
                    <form id="popup-form" onsubmit="addContact(); return false">
                        <div class="popup-input">
                            <input id="popup-name" type="text" placeholder="Name" required>
                            <div class="popup-icon-container d-flex-center">
                                <img src="./assets/images/components/inputs/person.svg" alt="person">
                            </div>
                            <p class="popup-validation-msg d-none" id="popup-name-validation-msg">This field is requered
                            </p>
                        </div>
                        <div class="popup-input">
                            <input id="popup-email" type="email" placeholder="Email" required
                                oninput="validateEmail('popup-email')">
                            <div class="popup-icon-container d-flex-center">
                                <img src="./assets/images/components/inputs/mail.svg" alt="mail">
                            </div>
                            <p class="popup-validation-msg d-none" id="popup-email-validation-msg"></p>
                        </div>
                        <div class="popup-input">
                            <input id="popup-phone" type="number" pattern="^[0-9-+\s()]{6,16}" placeholder="Phone"
                                required>
                            <div class="popup-icon-container d-flex-center">
                                <img src="./assets/images/components/inputs/call.svg" alt="call">
                            </div>
                            <p class="popup-validation-msg d-none" id="popup-phone-validation-msg"></p>
                        </div>
                    </form>
                    <div class="popup-btns"> 
                        <button class="popup-secondary-btn" id="popup-secondary-btn">
                        </button>
                        <button type="submit" form="popup-form" class="popup-primary-btn" id="popup-primary-btn">
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>