<nav class="site-nav" aria-label="Main navigation">
    <img class="nav-logo" src="../assets/images/logos/logo-white.svg" alt="Logo">

    <ul id="nav-links" class="nav-menu">
        <li>
            <a id="summary-link" class="nav-link link-1" href="summary.html">
                <div class="link-icon">
                    <img id="summary-img" src="../assets/images/components/nav/summary.svg" alt="" aria-hidden="true">
                </div>
                <div class="link-name">
                    <p>Summary</p>
                </div>
            </a>
        </li>
        <li>
            <a id="add-task-link" class="nav-link link-2" href="add-task.html">
                <div class="link-icon">
                    <img id="add-task-img" src="../assets/images/components/nav/add-task.svg" alt="" aria-hidden="true">
                </div>
                <div class="link-name">
                    <p>Add Task</p>
                </div>
            </a>
        </li>
        <li>
            <a id="board-link" class="nav-link link-3" href="board.html">
                <div class="link-icon">
                    <img id="board-img" src="../assets/images/components/nav/board.svg" alt="" aria-hidden="true">
                </div>
                <div class="link-name">
                    <p>Board</p>
                </div>
            </a>
        </li>
        <li>
            <a id="contacts-link" class="nav-link link-4" href="contacts.html">
                <div class="link-icon">
                    <img id="contacts-img" src="../assets/images/components/nav/contacts.svg" alt="" aria-hidden="true">
                </div>
                <div class="link-name">
                    <p>Contacts</p>
                </div>
            </a>
        </li>
    </ul>

    <a id="login-link" class="nav-link d-none mb-300" href="login.html">
        <div class="link-icon">
            <img class="login-icon" src="../assets/images/logos/logo-black.svg" alt="" aria-hidden="true">
        </div>
        <div class="link-name">
            <p>Log In</p>
        </div>
    </a>

    <nav class="privacy-and-legal" aria-label="Legal links">
        <a id="privacy-policy-link" href="privacy-policy.html">
            <p>Privacy Policy</p>
        </a>
        <a id="legal-notice-link" href="legal-notice.html">
            <p>Legal notice</p>
        </a>
    </nav>
</nav>