/* Modals and Messages */
.task-added-msg {
    position: fixed;
    top: calc(50% - 37px);
    left: calc(50% - 155px);
    width: 310px;
    height: 74px;
    display: none;
    justify-content: space-between;
    transform: translateY(1000%);
    padding: 25px 30px;
    border-radius: 20px;
    z-index: 1000;
    background-color: rgba(42, 54, 71, 1);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
    transition: transform 125ms ease-out;
}

.task-added-msg-slide-in {
    transform: translateY(0) !important;
}

.task-added-msg p {
    font-size: 20px;
    color: white;
}

.task-added-msg img {
    height: 25px;
    width: 30px;
}

/* .error-modal {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.15);
    justify-content: center;
    align-items: center;
    z-index: 1000;
    transition: all 100ms ease-in-out;
}

.error-msg {
    position: fixed;
    display: flex;
    flex-direction: column;
    transform: translateY(1000%);
    padding: 16px 50px 16px 27px;
    border-radius: 20px;
    color: white;
    background-color: #FF3E3E;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
    transition: transform 125ms ease-in-out, opacity 125ms ease-in-out;
}

.error-msg p {
    font-size: 20px;
    margin: 0;
    text-align: center;
}

.error-msg span {
    font-size: 14px;
    margin: 0;
    font-weight: 400;
    text-align: center;
}

.error-msg-slide-in {
    transform: translateY(0);
}

.close-error-btn {
    all: unset;
    position: absolute;
    cursor: pointer;
    top: 14.5px;
    right: 16.5px;
} */


