.task-added-msg {
    position: fixed;
    top: calc(50% - 37px);
    left: calc(50% - 155px);
    width: 310px;
    height: 74px;
    display: none;
    justify-content: space-between;
    transform: translateY(1000%);
    padding: 25px 30px;
    border-radius: 20px;
    z-index: 1000;
    background-color: rgba(42, 54, 71, 1);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
    transition: transform 125ms ease-out;
}

.task-added-msg-slide-in {
    transform: translateY(0) !important;
}

.task-added-msg p {
    font-size: 20px;
    color: white;
}

.task-added-msg img {
    height: 25px;
    width: 30px;
}


