.contacts-container {
    background-color: white;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 456px;
    height: calc(100vh - 97px);
    top: 96px;
    left: 232px;
    padding-top: 101px;
    box-shadow: 4px 0 6px rgba(0, 0, 0, 0.08);
    margin-bottom: 100px;
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: 3;
}

.contacts-list {
    padding-left: 24px;
    padding-bottom: 24px;
}

.no-contacts {
    text-align: center;
    padding-top: 20px;
    font-size: 27px;
    color: rgba(209, 209, 209, 1);
}

.add-contact-btn-container {
    position: fixed;
    height: 101px;
    width: 432px;
    top: 96px;
    left: 232px;
    background-color: white;
}

.add-contact-btn {
    gap: 16px;
    width: 352px;
    height: 56px;
    border-radius: 10px;
    background-color: rgba(42, 54, 71, 1);
    margin-left: 24px;
}

.add-contact-btn span {
    font-weight: 700;
    color: white;
    font-size: 21px;
}

.add-contact-icon {
    width: 32px;
    height: 32px;
}

.section-letter {
    display: flex;
    align-items: center;
    font-size: 20px;
    height: 58px;
    padding-left: 36px;
}

.separator-line {
    background-color: rgba(209, 209, 209, 1);
    height: 1px;
    margin-block: 8px;
}

.contact {
    display: flex;
    align-items: center;
    width: 352px;
    min-height: 78px;
    padding-left: 24px;
    gap: 35px;
    border-radius: 10px;
}

.contact-selected {
    background-color: rgba(42, 54, 71, 1);
    color: white;
    pointer-events: none;
}

.contact:hover {
    cursor: pointer;
    background: linear-gradient(rgba(249, 249, 249, 1), rgba(240, 240, 240, 1));
}

.contact-active {
    color: white;
    background-color: rgba(42, 54, 71, 1);
}

.contact-icon {
    min-width: 42px;
    height: 42px;
    margin-bottom: 3px;
    border-radius: 100px;
    font-size: 12px;
    color: white;
    border: 2px solid white;
    background-color: rgb(110, 82, 255);
}

.contact-data {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    overflow: hidden;
}

.contact-data p {
    font-size: 20px;
}

.contact-data span {
    color: rgba(0, 124, 238, 1);
}

.contact-data p,
a {
    text-overflow: ellipsis;
    overflow: hidden;
}

.main-container {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 100%;
    height: max-content;
    padding: 206px 0px 0px 743px;
    max-width: 1440px;
}

.back-arrow {
    display: none;
    position: fixed;
    width: 32px;
    height: 32px;
    right: 24px;
    top: 128px;
    border-radius: 50%;
}

.back-arrow:hover {
    cursor: pointer;
    background-color: rgba(238, 238, 238, 1);
    transform: scale(1.1);
}

.open-menu-btn {
    display: none;
    position: fixed;
    right: 24px;
    bottom: 112px;
    width: 56px;
    height: 56px;
    border-radius: 56px;
    background-color: rgba(42, 54, 71, 1);
    box-shadow: 0px 4px 4px 0px #00000040;
}

.add-contact-btn:hover,
.open-menu-btn:hover {
    cursor: pointer;
    background-color: rgba(41, 171, 226, 1);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.title-container {
    display: flex;
    align-items: center;
    gap: 30px;
}

.title-container h1 {
    font-size: 61px;
    order: 1;
}

.title-separator {
    height: 59px;
    min-width: 3px;
    background-color: rgba(41, 171, 226, 1);
    border-radius: 3px;
    order: 2;
}

.title-container p {
    font-size: 27px;
    color: rgba(42, 54, 71, 1);
    order: 3;
}

.contact-displayed {
    top: 0px;
    left: 0px;
    transition: transform 75ms ease-out;
    overflow-x: hidden;
}

.contact-slide-out {
    transform: translateX(100%);
    opacity: 0;
}

.contact-slide-in {
    transform: translateX(0);
    opacity: 1;
}

.d-flex-visible {
    display: flex;
}

.contact-details {
    display: flex;
    flex-direction: column;
    gap: 21px;
}

.contact-header {
    display: flex;
    align-items: center;
    gap: 54px;
    margin: 7px 0 0 7px;
    padding-right: 8px;
}

.contact-name {
    display: flex;
    flex-direction: column;
    gap: 8px;
    overflow: hidden;
}

.contact-name h2 {
    font-size: 47px;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
}

.contact-btns {
    display: flex;
    gap: 16px;
}

.edit-contact {
    width: 62px;
    display: flex;
    gap: 8px;
}

.delete-contact {
    display: flex;
    gap: 8px;
}

.edit-contact img {
    height: 18.28px;
    width: 18.28px;
    margin-left: 3px;
}

.edit-contact img {
    height: 18.28px;
    width: 18.28px;
}

.contact-btns button:hover {
    cursor: pointer;
    color: #29abe2;
    font-weight: 700;
}

.contact-btns button:hover img {
    filter: invert(45%) sepia(43%) saturate(2123%) hue-rotate(162deg) brightness(95%) contrast(102%);
}

.contact-info-heading {
    display: flex;
    align-items: center;
    height: 74px;
    font-size: 20px;
    font-weight: 400;
}

.contact-info {
    display: flex;
    flex-direction: column;
    gap: 22px;
    margin-left: 7px;
}

.contact-info div {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-info div a {
    color: rgba(0, 124, 238, 1);
}

.black-font {
    color: black !important;
}

.toast-msg {
    z-index: 10;
    display: flex;
    left: 743px;
    bottom: 100px;
    position: fixed;
    transition: transform 125ms ease-in-out;
    width: 326px;
    height: 74px;
    border-radius: 20px;
    font-size: 20px;
    color: white;
    background-color: rgba(42, 54, 71, 1);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
}

.toast-msg-slide-in {
    transform: translateX(0);
}

.toast-msg-slide-out {
    transform: translateX(2000%);
}

.contact-menu {
    inset: auto 10px 100px auto;
    margin: 0;
    border: none;
    transform: translateX(250%);
    width: 116px;
    flex-direction: column;
    border-radius: 20px 20px 0px 20px;
    padding: 10px;
    background-color: white;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    transition: transform 125ms ease-out;
}

.contact-menu[open] {
    display: flex;
}
.contact-menu::backdrop {
    background-color: transparent;
}

.contact-menu-slide-in {
    transform: translateX(0);
}

.font-w-400 {
    font-weight: 400 !important;
}