* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
}

h1 {
    font-size: 61px;
    font-weight: 700;
}

.heading {
    padding-bottom: 39px;
}

.color-grey {
    color: #D1D1D1;
}


.add-task-container {
    width: 1069px;
    padding-top: 96px;
    display: flex;
    flex-direction: column;
    margin-left: 232px;
    background-color: #F6F7F8;
}

.form-container {
    display: flex;
    flex-direction: column;
    margin-top: 65px;
    margin-left: 92px;
}

.form-col-container {
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
}

.form-col-left,
.form-col-right {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 440px;
}

.form-col-middle {
    background-color: #D1D1D1;
    width: 1px;
    border-radius: 10px;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.form-input {
    border-radius: 10px;
    padding: 12px 16px;
    border: 1px solid #D1D1D1;
    font-family: inherit;
    font-size: 20px;
    height: 48px;
    cursor: pointer;
    width: min(440px, 100%);
}

.form-input:focus {
    outline: none;
    border-color: #29ABE2;
}

.placeholder-color::placeholder {
    color: #D1D1D1;
}

.dropdown-container {
    position: relative;
    width: min(440px, 100%);
}

.select-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 48px;
    padding: 12px 16px;
    margin-bottom: 4px;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    background-color: #fff;
    font-size: 20px;
    cursor: pointer;
    position: relative;
    z-index: 3;
}

.blue-border {
    border-color: #29ABE2;
}

.select-btn-input {
    border: unset;
    width: 100%;
    height: 100%;
    font-size: 20px;
}

.select-btn-input:focus {
    outline: none;

}


.select-btn .arrow-down {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 24px;
    width: 24px;
    transition: 125ms;
}

.select-btn.show-menu .arrow-down {
    transform: rotate(-180deg);
}

.list-items {
    position: absolute;
    top: 48px;
    width: 100%;
    max-height: 250px;
    overflow-y: scroll;
    background-color: #fff;
    border-radius: 0 0 10px 10px;
    border: 1px solid #D1D1D1;
    border-top: none;
    display: none;
    z-index: 2;
    font-size: 20px;
    flex-direction: column;
    gap: 2px;
    margin-top: -6px;
    padding-top: 6px;

}

.select-btn.show-menu {
    border-radius: 10px;
}

.select-btn.show-menu~.list-items {
    display: flex;
}

.list-items .list-item {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7px 16px;
    height: 56px;
    transition: 125ms;
    cursor: pointer;
}

.list-items .list-item:hover {
    background-color: #EEEEEE;
    border-radius: 10px;
}

.list-item-name {
    display: flex;
    align-items: center;
    gap: 8px;
}

.selected-contacts-div {
    padding: 8px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
}

.cicle {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #9747FF;
    color: #fff;
    border-radius: 50%;
    border: 2px solid #fff;
    width: 42px;
    height: 42px;
    font-size: 12px;
}

.list-item.checked {
    background-color: #2A3647;
    color: white;
    border-radius: 10px;
}

.list-item.checked:hover {
    background-color: #091931;
}

.list-items.category {
    height: auto;
}

.list-item.category {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 16px;
    height: 48px;
    transition: 125ms;
    cursor: pointer;
}

.list-item.category:hover {
    background-color: #EEEEEE;
    border-radius: 10px;
}

.subtask-input-container {
    display: flex;
    width: min(440px, 100%);
    cursor: pointer;
}




.drag-attachment-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 48px;
    border: 1px dashed #D1D1D1;
    border-radius: 10px;
    background-color: #F6F7F8;
    font-size: 20px;
    color: #D1D1D1;
}












.form-input.subtask-input {
    border-radius: 10px 0 0 10px;
    border-right: 0;
    width: calc(100% - 48px);
}

.subtask-input:focus~.subtask-btn {
    outline: none;
    border-color: #29ABE2;
}

.subtask-btn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 12px 16px;
    background-color: white;
    border: 1px solid #D1D1D1;
    border-left: 0;
    border-radius: 0 10px 10px 0;
}

.subtask-btn img {
    width: 14px;
    height: 14px;
}

.check-cancel-div {
    display: none;
    justify-content: flex-end;
    align-items: center;
    gap: 4px;
    padding: 11px 16px;
}

.subtask-cancel {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 24px;
    width: 24px;
}

.subtask-cancel img {
    width: 13px;
    height: 13px;
}

.subtask-divider {
    height: 24px;
    border-right: 1px solid #D1D1D1;

}

.subtask-divider-2 {
    height: 24px;
    border-right: 1px solid #A8A8A8;
}

.subtask-divider-2.subtask-divider-3 {
    border-right: 1px solid #D1D1D1;
}

.subtask-check {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 24px;
    width: 24px;
    transition: 125ms;
}
.subtask-check img {
    width: 15.5px;
    height: 11.23px;
}

.subtask-cancel:hover,
.subtask-check:hover {
    background-color: #EEEEEE;
}

.subtasks-list {
    margin-top: 4px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 440px;
    list-style: none;
}

.subtask-list-item {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding: 4px 16px;
    height: 32px;
    cursor: pointer;
}

.subtask-list-item:hover {
    background-color: #EEEEEE;
}

.subtask-list-item.subtask-list-item-edit {
    padding: 0;
}

.subtask-list-item.subtask-list-item-edit:hover {
    background-color: #F6F7F8;
}

.li-text::before {
    content: "•";
    margin-right: 4px;
}

.subtask-edit-icon-div {
    display: none;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.subtask-list-item:hover .subtask-edit-icon-div {
    display: flex;
}

.edit-subtask-btn, .delete-subtask-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
}
.edit-subtask-btn img {
    width: 18.25px;
    height: 18.25px;
}

.delete-subtask-btn img {
    width: 16px;
    height: 18px;
}

.edit-subtask-btn:hover,
.delete-subtask-btn:hover {
    background-color: #D1D1D1;
    border-radius: 50%;
}



.edit-subtask-input {
    width: 100%;
    height: 32px;
    border: none;
    border-bottom: 1px solid #005DFF;
    padding: 4px 16px;
}

.edit-subtask-input:focus {
    outline: none;
}

.edit-subtask-button-div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    gap: 4px;
    padding-right: 16px;
    background-color: #FFFFFF;
    border-bottom: 1px solid #005DFF;
}

.delete-subtask-btn.edit,
.confirm-subtask-edit-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
}

.delete-subtask-btn.edit:hover,
.confirm-subtask-edit-btn:hover {
    background-color: #EEEEEE;
     border-radius: 50%;
}

textarea {
    padding: 18px 16px;
    height: 120px;
    border-radius: 10px;
    border: 1px solid #D1D1D1;
    font-family: inherit;
    font-size: 20px;
    cursor: pointer;
    width: min(440px, 100%);
    resize: none;
    margin-bottom: 16px;
}

textarea:focus {
    outline: none;
    border-color: #29ABE2;
}

.prio-buttons {
    display: flex;
    gap: 16px;
    width: min(440px, 100%);
    margin-bottom: 16px;
}

.prio-btn {
    padding: 16px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    gap: 8px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid #D1D1D1;
    flex: 1;
    cursor: pointer;
}

.prio-btn:hover {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.prio-btn.active {
    background-color: #FFA800;
    color: white;
    outline: none;
    box-shadow: none;
    font-weight: 700;
    font-size: 21px;
}

.prio-btn.active.urgent {
    background-color: #FF3D00;
}

.prio-btn.active.low {
    background-color: #7AE229;
}

.form-bottom {
    padding-block: 36px 79px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    font-size: 20px;
    width: 100%;
}

.form-actions {
    display: flex;
    gap: 16px;
    margin-left: auto;
}

.required {
    color: #FFA800;
}

.clear-btn,
.create-btn {
    border: 1px solid #2A3647;
    border-radius: 10px;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    cursor: pointer;
    font-size: 20px;
    background-color: white;
}

.create-btn {
    background-color: #2A3647;
    color: white;
    font-weight: 700;
}

.clear-btn:hover {
    border: 1px solid #29ABE2;
    color: #29ABE2;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.create-btn:hover {
    background-color: #29ABE2;
    border: 1px solid #29ABE2;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

label {
    font-size: 20px;
    margin-bottom: 4px;
}

@media screen and (max-width: 1369px) {
    .form-col-container {
        justify-content: flex-start;
        gap: 0;
    }

    .form-col-left {
        border-style: none;
    }

    .form-col-left,
    .form-col-right {
        width: 100%;
    }

    .form-col-middle {
        height: 0;
        width: 0;
    }

    .form-bottom {
        max-width: 440px;
        flex-wrap: wrap;
        gap: 16px;
    }

    .required-p {
        flex: 1;
    }
}

@media screen and (max-width: 1024px) {
    .add-task-container {
        margin-left: 0;
    }
}

@media (max-width: 576px) {
    .form-container {
        margin-top: 48px;
    }

    .form-col-container {
        margin: 0 32px 32px 32px;
    }

    h1 {
        font-size: 48px;
    }

    .heading {
        padding-left: 32px;
        padding-bottom: 32px;
    }

    .form-input,
    textarea,
    .select-btn-input,
    .prio-btn,
    .prio-btn.active,
    .clear-btn,
    .create-btn,
    .form-bottom,
    .btn-text {
        font-size: 16px;
    }

    .form-bottom {
        margin: 0 32px 128px 32px;
    }
}

@media (max-width: 427px) {
    .prio-buttons {
        flex-direction: column;
    }

    .clear-btn {
        display: none;
    }

    .list-item {
        font-size: 16px;
    }
}